@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 6px;
    background: transparent;
}

::-webkit-scrollbar:horizontal {
    height: 6px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #2e2e2e;
    border-radius: 20px;
}

.scrollbar:hover::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.364);
}

.text-responsive {
    font-size: clamp(1rem, 2vw + 1rem, 1.3rem);
}

.scroll-hidden::-webkit-scrollbar {
    display: none;
}